h4{
	color:#e8ef10;
}

.border{
	border: solid 1px black;
}

.alginMid{
	text-align: middle;
}

body{
	background:gray;
}

div button{
	margin: 25px 0px 10px 0px;
}

.floatRight{
	float:right;
}

.floatLeft{
	float:left;
}
.twentyPixelBottomMargins{
	margin:0px 0px 20px 0px;
}

.zeroPadding{
	padding:0px;
}

